.vscode/**
.vscode-test/**
src/**
webview-ui/src/**
webview-ui/public/**
webview-ui/index.html
.gitignore
vsc-extension-quickstart.md
tsconfig*.json
vite.*.config.ts
**/eslint.config.mjs
**/*.map
**/*.ts
